
 @import url("bootstrap-icons/font/bootstrap-icons.min.css"); 
.ngx-toastr{
    margin-right: 5px 0 !important;
    margin: 5px 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
